<% if policy(vote).create? %>
  <div class="vote-arrows pull-left">
     <div><%= link_to " ", 
     up_vote_path(vote), 
     class: up_vote_link_classes(vote.post), method: :post %></div>
     
     <div><strong><%= vote.post.points %></strong></div>
     
     <div><%= link_to " ", 
     down_vote_path(vote), 
     class: "glyphicon glyphicon-chevron-down #{vote.persisted? && vote.down_vote? ? 'voted' : '' }", method: :post %></div>
   </div>
<% end %>
